<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        table, td, th {
            border-collapse: collapse;
            border: 3px solid #245488;
        }
    </style>
</head>
<body>
    <h1>Table of cars</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}">id</td>
            <td th:text="${car.getModel()}">model</td>
            <td th:text="${car.getSeries()}">series</td>
        </tr>
    </table>
</body>
</html>